.encabezado { background-color: #343a40; color: #dbdbdd; font-size: 12px; font-family: 'Lato', sans-serif; width: 100%; padding: 5px; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.h5 { color: #dbdbdd; }

/*inicio de menu*/
/*fin de menu*/
body { background-image: -webkit-gradient(linear, left top, left bottom, from(#2b70df), to(#00102a)); background-image: linear-gradient(#2b70df, #00102a); font-family: 'Lato', sans-serif; margin: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; position: relative; }

/*Inicio de presentacion*/
.row { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

/*inicio de Lanzamientos*/
.mos { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 10px; }

.titlebody { text-align: center; width: 150px; border: 1px solid black; }

.releaseImage { padding: 5px; }

.releaseImage:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

/*fin de Lanzamientos*/
/*Inicio de Ofertas*/
.h5black { color: black; font-size: 20px; }

.sale, .indexStore { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 500px; width: auto; margin: 10px; background-color: #dbdbdd; padding: 10px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

/*Fin de Ofertas*/
/*Inicio de tienda*/
#tienda, #tienda2 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#tienda2 { color: #dbdbdd; }

.product1 { width: 220px; height: 350px; display: inline-block; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 2px solid black; margin: 5px; }

.imageBox { padding: 5px; }

.textBox { height: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

/*Fin de tienda*/
#lanzamientos, .sale, .footer { font-family: 'Lato', sans-serif; color: black; }

/*Inicio de footer*/
footer { background-color: #343a40; color: white; position: absolute; top: 100%; width: 100%; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.foot { height: 200px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.susc, .cards { height: 80px; width: 400px; padding: 10px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.inputmail { width: 300px; border: 0px; text-decoration: none; color: white; }

.submitText { background-color: #0052d6; width: 60px; border: none; color: white; }

.inputMail, .submitText { height: 25px; }

.footText { text-align: center; }

.creditCards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 300px; }

.namecard1, .namecard2 { padding: 5px; border-right: 1.5px solid white; }

.namecard1, .namecard2, .namecard3 { font-size: 10px; padding: 5px; }

/*Fin de footer*/
p { margin-top: 5px; margin-bottom: 5px; }

.bodysec { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: auto; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.clasif { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.categories { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

#filtros { padding: 5px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.categories { color: #dbdbdd; }

.pagoscont, .pregcont, .contactForm, .maincontent__text { color: #dbdbdd; }

.product1:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.maincontent__pagos { padding-top: 10px; }

.productSale { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: inline-block; }

.backg { background-color: #dbdbdd; padding: 5px; margin-top: 10px; border-radius: 10px; }
/*# sourceMappingURL=style.css.map */